<div class="cover container-fluid p-5 text-white text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= asset_path("cover.jpg") %>)">
  <h1>Save any kind of movie</h1>
  <h3 class="typed-js" data-controller="typed-js"></h3>
</div>

<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-0">My Lists</h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
  <% @lists.each do |list| %>
    <div class="col-sm-6 card m-3 p-0" style="width: 18rem;">
      <img src="<%= cl_image_path list.photo.key, height: 300, scale: :fill %>" class="card-img-top" alt="..." style="height: 300">
      <div class="d-flex justify-content-evenly card-body">
        <%= link_to list.name, list_path(list), class: "btn btn-light" %>
        <%= link_to "Delete", list_path(list.id), method: :delete, data: { confirm: "Delete #{list.name}?" }, class: "btn btn-light" %>
      </div>
      <span class="movie-tag-idx"><%= pluralize(list.movies.size, 'movie') %></span>
    </div>
  <% end %>
</div>
